<li class="post-read" %>">
<h1><%= postData.title %></h1>

  <div class="post-read-summary">
    <%= postData.summary %>
  </div>
  <hr>
  <div class="post-read-body">
    <%= postData.body %>
  </div>
  <div class="post-read-author">
    <%= postData.authorName %>
  </div>
  <div class="post-read-date">
    <%= postData.date.toLocaleDateString('en-US', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      }) %>
  </div>
</li>
